.header {
    background: #ee6e73;
    display: inline-block;
    position: relative;
    font-size: 90px;
    box-shadow: 12px 9px 2px;
    width: 141%;
    height: 6rem;
    margin: 10px;
    margin-bottom: 12px;


}

html {
    box-sizing: border-box;
}