.header {
    overflow: hidden;
    display: flex;
    padding-right: -4rem;
    height: 7rem;
    margin-left: 17rem;
    justify-content: left;
    text-decoration: underline;

    .searchbox {
    margin-top: auto;
    }
    .searchbutton {
    margin-top: auto;
    }
    .header-label-name{
        justify-content: center;
        flex-wrap: wrap;
        font-size: 6rem;
        font-variant-caps: normal;
    }
   
}

html {
    box-sizing: border-box;
}


@media screen and (max-width: 750px) {

    .header {
        margin-left: 12rem;
        .header-label-name{
            font-size: 3rem;
            margin-top: 2rem;
        }
    }
}