.topnav {
  overflow: hidden;
  background-color: grey;
  display: flex;
  flex-direction: row;
  max-height: 3rem;
  position: fixed;
  justify-content: left;
  width: 10rem;
  margin: -5rem 0rem 3rem;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; // to remove underline
  font-size: 17px;
  width:230px;
  
  .cart  {
    background: black;
    align-items: left;
  }
}
.cart-count {
  background: orange;
    margin-right: 69rem;
    padding: 10px;
}

html{
  text-decoration: none;
}

.topnav lable:hover {
  background-color:rgb(246, 86, 11);
  color: rgb(255, 255, 255);
}

.topnav a.active {
  background-color: rgb(246, 86, 11);
  color: rgb(255, 255, 255);
}